<div class="container-portifolio" id="portifolio">
    <br><br><br>
    <h1>Trabalhos recentes</h1>
    <h2>CONFIRA AQUI ALGUNS RESULTADOS DA SUA NOVA <BR> AGÊNCIA DE MARKETING DIGITAL</h2>

    <div class="galeria">

        <div class="teste" *ngIf="this.viewSize < 1050">
            <swiper-container class="scroll" swiperDirective>
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/1693337675269.jpeg" alt="">
                    <!-- <div class="overlay"></div> -->
                </swiper-slide>
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/otica.png">
                    <!-- <div class="overlay"></div> -->
                </swiper-slide>       
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/foto11.png" alt="">
                    <div class="overlay"></div>
                </swiper-slide>
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/1645039564283.jpeg" alt="">
                    <div class="overlay"></div>
                </swiper-slide>       
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/foto8.png" alt="">
                    <div class="overlay"></div>
                </swiper-slide>
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/10.png" alt="">
                    <div class="overlay"></div>
                </swiper-slide>     
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/2.png" alt="">
                    <div class="overlay"></div>
                </swiper-slide>
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/PhotoReal_a_dark_blue_circle_package_of_a_handcream_in_a_dark_3.jpeg">
                    <div class="overlay"></div>
                </swiper-slide>     
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/1692810994554.jpeg" alt="">
                    <div class="overlay"></div>
                </swiper-slide>
                <swiper-slide class="carrosel">
                    <img src="../../assets/images/PhotoReal_the_ad_of_an_orange_circle_package_of_a_hand_cream_i_1.jpeg" alt="">
                    <div class="overlay"></div>
                </swiper-slide>           
            </swiper-container>

        </div>

        <div class="scroll" *ngIf="this.viewSize > 1050">
            <div class="carrosel">
                <img src="../../assets/images/1693337675269.jpeg" alt="">
                <div class="overlay"></div>
            </div>
            <div class="carrosel">
                <img src="../../assets/images/otica.png">
                <div class="overlay"></div>
            </div>       
        </div>
        <div class="scroll" *ngIf="this.viewSize > 1050">
            <div class="carrosel">
                <img src="../../assets/images/foto11.png" alt="">
                <div class="overlay"></div>
            </div>
            <div class="carrosel">
                <img src="../../assets/images/1645039564283.jpeg" alt="">
                <div class="overlay"></div>
            </div>       
        </div>
        <div class="scroll" *ngIf="this.viewSize > 1050">
            <div class="carrosel">
                <img src="../../assets/images/foto8.png" alt="">
                <div class="overlay"></div>
            </div>
            <div class="carrosel">
                <img src="../../assets/images/10.png" alt="">
                <div class="overlay"></div>
            </div>       
        </div>
        <div class="scroll" *ngIf="this.viewSize > 1050">
            <div class="carrosel">
                <img src="../../assets/images/2.png" alt="">
                <div class="overlay"></div>
            </div>
            <div class="carrosel">
                <img src="../../assets/images/PhotoReal_a_dark_blue_circle_package_of_a_handcream_in_a_dark_3.jpeg">
                <div class="overlay"></div>
            </div>       
        </div>
        <div class="scroll" *ngIf="this.viewSize > 1050">
            <div class="carrosel">
                <img src="../../assets/images/1692810994554.jpeg" alt="">
                <div class="overlay"></div>
            </div>
            <div class="carrosel">
                <img src="../../assets/images/PhotoReal_the_ad_of_an_orange_circle_package_of_a_hand_cream_i_1.jpeg" alt="">
                <div class="overlay"></div>
            </div>       
        </div>

    </div>
</div>