@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap');
.container-portifolio{
    width: 100%;
    height: 150vh;    
    background-color: #40372f;    
    margin-top: 4em;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;    

    h1{
        font-size: 50px;
        font-weight: bolder;
    }

    h2{
        margin-top: 2em;
    }

    .galeria{
        width: 100%;
        height: 150vh;        
        margin-top: 2em;
        display: flex;
        justify-content: space-between;        

        .scroll{
            width: 19.2%;
            height: 100%;            
            display: flex;
            flex-direction: column;

            .carrosel{
                height: 35%;
                width: 100%;            
                border-radius: 30px;        
                background-position: center;
                background-size: cover;   
                margin-top: 1em; 
                position: relative;    
                cursor: pointer;  
                z-index: 1;
                
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: 1000ms;
                }

                &:hover{
                    .overlay{
                        opacity: 0.8;
                    }
                }
            }
        }
        
        .scroll:nth-child(1){ 
            margin-top: 5em;
            .carrosel:nth-child(1){
                overflow: hidden;
                img{
                    height: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;
                    width: 100%;                    
                }
            }
            .carrosel:nth-child(2){
                overflow: hidden;
                img{
                    height: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;
                    width: 100%;                    
                }
            }
        }     
        .scroll:nth-child(2){ 
            
            .carrosel:nth-child(1){
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;                    
                }
            }
            .carrosel:nth-child(2){
                overflow: hidden;
            img{
                height: 100%;
                position: relative;
                left: 50%;
                translate: -50%;                
                width: 100%;
                }            
            }
        }        
        
        .scroll:nth-child(3){ 
            margin-top: 5em;
            .carrosel:nth-child(1){
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;                    
                    }            
            }
            .carrosel:nth-child(2){
                overflow: hidden;
                img{
                    width: 100% ;
                    height: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;                    

                }
            }
        }   

        .scroll:nth-child(4){             
            .carrosel:nth-child(1){
                overflow: hidden;
                img{
                    height: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;                    
                    width: 100%;

                }               

            }
            .carrosel:nth-child(2){
                overflow: hidden;
                img{
                    height: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;                    
                    width: 100%;

                }   
            }
        }   

        .scroll:nth-child(5){      
            margin-top: 5em;       
            .carrosel:nth-child(1){
                overflow: hidden;
                img{
                    height: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;                    
                    width: 100%;                    
                }                     
            }
            .carrosel:nth-child(2){
                overflow: hidden;
                img{
                    height: 100%;
                    position: relative;
                    left: 50%;
                    translate: -50%;                
                    width: 100%;
                }                               
            }
        }   
    }

    @media (max-width: 1300px){
        .galeria{
            gap: 1em;
            .scroll{
                flex-grow: 1;
            }
            .scroll:nth-child(5){
                display: none;
            }
        }
    }

    @media (max-width: 1000px){
        height: 120vh;
        h1{
            font-size: 30px;
        }

        h2{
            font-size: 13px;
            width: 80%;
            margin-left: 10%;
        }
        .galeria{            
            display: flex;
            flex-direction: column;      
            margin-top: 0;      
            .scroll{                
                width: 95%;
                margin-left: 2.5%   ;
                position: absolute;
                border: none;

                .carrosel{
                    position: absolute;                    
                    height: 80vh;
                    border-radius: 0;
                    img{
                        border: none;
                    }                    
                }
            }

            .scroll:nth-child(even){
                margin-top: 5em;
            }
        }
    }
}    
       