<div class="container-portifolio">
    <br><br><br>
    <h1>Trabalhos recentes</h1>
    <h2>CONFIRA AQUI ALGUNS RESULTADOS DA SUA NOVA <BR> AGÊNCIA DE MARKETING DIGITAL</h2>

    <div class="galeria">
        <div class="scroll">
            <div class="carrosel"></div>
            <div class="carrosel"></div>       
        </div>
        <div class="scroll">
            <div class="carrosel"></div>
            <div class="carrosel"></div>       
        </div>
        <div class="scroll">
            <div class="carrosel"></div>
            <div class="carrosel"></div>       
        </div>
        <div class="scroll">
            <div class="carrosel"></div>
            <div class="carrosel"></div>       
        </div>
        <div class="scroll">
            <div class="carrosel"></div>
            <div class="carrosel"></div>       
        </div>

    </div>
</div>