<div class="container">
    <header>
        <div class="logo">
            <img src="../../assets/images/CRIA.TIVA Logo Transparente.png" alt="logo criativa">
        </div>
        <nav *ngIf="active || this.viewSize > 1050">
            <ul>
                <a href="#"><li>Home</li></a>
                <a href="#services"><li>Sobre</li></a>
                <a href="#stack"><li>Serviços</li></a>
                <a href="#portifolio"><li>Trabalhos</li></a>
                <!-- <li>Blog</li> -->
                
                <a href="#contato"><li>Contato</li></a>
            </ul>
        </nav>
        <div class="amburguer" (click)="amburguer()">
            <div class="barra" [ngStyle]="
            {
                'transform': (active ? 'rotate(45deg)' : 'none')                
            }"></div>
            <div class="barra" [ngStyle]="{'display': (active? 'none': 'block')}"></div>
            <div class="barra" [ngStyle]="{'transform': (active ? 'rotate(-45deg)' : 'none')}"></div>
        </div>
    </header>
</div>