@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap');
footer{
    height: 40vh;
    width: 100%;
    background-color: #595147;
    display: flex;
    justify-content: space-between;    
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

    .links{
        width: 65%;
        margin: 0 auto;
        flex-grow: 2;     
        display: flex;   
        justify-content: space-between;

        h1{
            font-size: 20px;
            margin-top: 2em;
            color: #fff;
        }

    }
    .direitos-autorais{
        width: 65%;
        margin: 0 auto;                     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #bfb0a3;        
        flex-grow: .5;

   

        p{            
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            line-height: 100%;
        }

    }

    @media(max-width: 1000px){
        margin-top: 0px;
        .links{
            flex-direction: column;            
        }

        .direitos-autorais{
            margin-top: 1em;
            width: 95%;
           p{
            font-size: 13px;
            padding: 1em 0;
            ;
           }
        }
    }
}