<div class="container" id="contato">
    <br><br>
    <h1>PRONTO PARA UMA NOVA EXPERIÊNCIA ?</h1>

    <div class="form">
        <div class="contatos">
            <div class="cards">
                <img src="../../assets/images/orcamento.png" alt="">
                <h1>Orçamentos</h1>
                <h4>Faça um orçamento</h4>                
               <a href="https://forms.gle/3Lhp3N2yYsCEXpKW8 " target="_blank"><button>ORÇAMENTOS</button></a> 
            </div>
            <div class="cards">
                <img src="../../assets/images/bubble-chat.png" alt="">
                <h1>Contate-nos</h1>
                <h4>Agende um papo</h4>
                <a href=" https://calendly.com/estudiocria-tiva/iniciacao" target="_blank"><button>CONVERSE</button></a>
            </div>
            <div class="cards">
                <img src="../../assets/images/social-media-marketing.png" alt="">
                <h1>Redes Sociais</h1>
                <H4>Conheça nossas redes</H4>
                <div class="redes">                         
                    <a href="https://www.instagram.com/estudiocria.tiva/" target="_blank"><img src="../../assets/images/instagram.png" alt=""></a>
                    <a href="https://www.tiktok.com/@estudiocria.tiva?_t=8fcDI43YvdF&_r=1" target="_blank"></a><img src="../../assets/images/tiktok.png" alt="">               
                </div>
            </div>
            <div class="cards">
                <img src="../../assets/images/remote-working.png" alt="">
                <h1>Contatos</h1>                
                <h4>Fale conosco</h4>
                <br>
                <h4>+55 (11) 97432-4270</h4>            
                <h4>estudiocria.tivabr@gmail.com</h4>
            </div>
        </div>
        <br><br>
        <h2>Fale conosco</h2>
        
        <form action="https://formspree.io/f/mgejzwnj" method="POST">
            <div class="campos">
                <input type="text" id="fname" name="fname" placeholder="Nome*" viewModel="name">
                <input type="email" id="email" name="email" placeholder="Email*">
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Telefone*">        
                <input type="hidden" name="_next" value="">           
            </div>             
            <textarea name="message" id="" cols="30" rows="10" placeholder="Insira sua mensagem*"></textarea>                    
            <button type="submit">Enviar</button>
        </form>

    
    </div>
</div>