@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap');
.container{    
    width: 100%;
    background-color: #f2eadf;
    text-align: center;    
    font-family: 'Roboto', sans-serif;

    h1{        
    }

    .form{
        width: 65%;        
        margin: 0 auto;        
        height: 100%;       
        margin-bottom: 2em; 
        .contatos{
            width: 100%;
            display: flex;                        
            margin-top: 2em;
            justify-content: space-between;

            .cards{
                height: 250px;
                width: 23%;                       

                img{
                    width: 20%;
                    margin-top: 1.5em;
                }
                
                h1{
                    font-size: 23px;
                    margin-top: .5em;
                }

                h4{
                    margin-top: .5em;
                }

                button{
                    margin-top: 2em !important;
                    font-weight: bolder;
                    color: #fff;
                    background-color: #bfb0a3;                    
                    margin: 0 auto;
                    padding: 1em 1em;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                }

                .redes{
                    width: 50%;                                  
                    border-radius: 5px;
                    margin: 0 auto;                                       
                    margin-top: 2em !important;                    
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    height: 40px;         
                    
                    img{
                        height: 38px;
                        width: 38px;
                        margin-top: 0px;
                    }
                }

            }
        }

        form{
            width: 100%;
            margin: 0 auto;
            font-size: 15px;

            .campos{
                width: 100%;                
                display: flex;
                justify-content: space-between;
                gap: 1em;
            }
            input{
                margin-top: 1em;                
                padding: 1em 0.5em;
                background-color: #f2eadf;
                border: 1px solid #bfb0a3;
                border-radius: 5px;
                flex-grow: 1;
                
                
            }

            .break{
                flex-basis: 100%;
                width: 0px; 
                height: 0px; 
                overflow: hidden;
            }

            textarea{
              width: 100%;              
                margin-top: 1em;
                background-color: #f2eadf;
                border: 1px solid #bfb0a3;
                border-radius: 5px;
                padding: 1em 0.5em;
                margin-bottom: 2em;                
            }

            button{
                width: 100%;
                background-color: #595147;
                color: #fff;
                border: none;
                padding: 1em;
                margin-bottom: 2em;
                border-radius: 5px;
                font-size: 15px;
            }

            button:hover{
                
                cursor: pointer;
                transition: 1s;
            }

            button:disabled {
                opacity: 0.5;
                cursor: no-drop;
            }
        }
    }

    @media(max-width: 1000px){
        h1{
            font-size: 20px;
        }

        .form{
            width: 100%;            

            .contatos{                
                display: flex;
                flex-direction: column;

                .cards{
                    width: 80%;
                    margin: 0 auto;                    
                    margin-top: 2em;
                }
            }

            form{
                .campos{
                    flex-direction: column;
                    input{
                        width: 95%;
                        margin-left: 2.5%;
                    }
                }
                textarea, button{
                    width: 95%;
                    margin: 0 auto;
                    margin-top: 2em;
                }
            }
        }
    }
}