<div class="container">
    <br><br>
    <h1>PRONTO PARA UMA NOVA EXPERIÊNCIA ?</h1>

    <div class="form">
        <div class="contatos">
            <div class="cards">
                <img src="../../assets/images/orcamento.png" alt="">
                <h1>Orçamentos</h1>
                <h4>Faça um orçamento</h4>                
                <button>ORÇAMENTOS</button>
            </div>
            <div class="cards">
                <img src="../../assets/images/bubble-chat.png" alt="">
                <h1>Contate-nos</h1>
                <h4>Agende um papo</h4>
                <button>CONVERSE</button>
            </div>
            <div class="cards">
                <img src="../../assets/images/social-media-marketing.png" alt="">
                <h1>Redes Sociais</h1>
                <H4>Conheça nossas redes</H4>
                <div class="redes">     
                    <img src="../../assets/images/behance.png" alt="">               
                    <img src="../../assets/images/instagram.png" alt="">               
                    <img src="../../assets/images/tiktok.png" alt="">               
                </div>
            </div>
            <div class="cards">
                <img src="../../assets/images/remote-working.png" alt="">
                <h1>Contatos</h1>
                <h4>Fale conosco</h4>
                <br>
                <h4>+55 (11) 97432-4270</h4>            
                <h4>estudiocria.tivabr@gmail.com</h4>
            </div>
        </div>

        <h2>Fale conosco</h2>

        <form>
            <div class="campos">
                <input type="text" id="fname" name="fname" placeholder="Nome*">
                <input type="email" id="email" name="email" placeholder="Email*">
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Telefone*">   
            </div>             
            <textarea name="" id="" cols="30" rows="10" placeholder="Insira sua mensagem*"></textarea>                    
        </form>

    
    </div>
</div>