<div class="container" id="services">
    <div class="banner">
        <img src="../../assets/images/top-viewtop-view-manager-employee-doing-teamwork-business-office-looking-charts-laptop-display.jpg" alt="brainstorming">
        <div class="conteudo">
            <h2>SOMOS UM ESTÚDIO CRIATIVO</h2>     
            <p> Somos um estúdio criativo, focado em desenvolver conteúdo de social mídia exclusivo e captar as melhores imagens para o seu negócio.</p>
            <p>Gostamos de colocar a mão na massa em cada imagem, utilizamos Inteligência Artificial para ajudar no que não conseguimos captar, fazendo a sua marca se destacar!
                </p> 
        </div>       
    </div>
    <div class="stacks">
        <div class="conteudo" id="stack">
            <img src="../../assets/images/CRIA.TIVA Logo Transparente.png" alt="logo criativa">
            <p>surgiu da necessidade de criar para as empresas de forma mais personalizada, olhando as necessidades de cada cliente e oferecendo o que eles mais precisam.
            </p>
        </div>

        <div class="topicos">
            <div class="card">
                <h3>
                    Inteligência Artificial
                </h3>
            </div>
            <div class="card">
                <h3>Consultoria</h3>
            </div>
            <div class="card">
                <h3>Fotografia</h3>
            </div>
            <div class="card">
                <h3>Sites</h3>
            </div>
            <div class="card">
                <h3>Ilustrações</h3>
            </div>
        </div>

    </div>
</div>