@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.container{    
    width: 100%;
    background-color: #fff;    
    font-family: 'Roboto', sans-serif;

    .banner{
        width: 100%;
        height: 60vh;
        background-color: #000;   
        background-repeat: no-repeat;
        position: relative;
        color: #fff;        
        overflow: hidden;
        
        img{
            opacity: 0.1;
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }

        .conteudo{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 20%;
            top: 30%;            

            h2{
                font-size: 36px;
            }

            p{
                width: 50%;
                margin: 2em 0em;
                font-size: 20px;
                line-height: 2em;
                font-weight: bold;
            }
        }
    }

    .stacks{        
        width: 100%;
        background-color: #fff;
        .conteudo{
            width: 30%;
            margin: 0 auto;
            text-align: center;
            
            img{
                width: 50%;
                margin-top: 1em;
            }

            p{
                font-size: 1.4rem;
            }
        }

        .topicos{
            width: 100%;
            margin: 0 auto;                        
            height: 60%;
            margin-top: 2em 0em;
            display: flex;
            justify-content: space-evenly;            

            .card{
                text-align: center;                
                width: 15%;
                height: 80%;
                margin: 4em 0em;
                border-radius: 2px;
                color: #40372f;
                font-weight: bold;   
                background-color: #fff;     
                
                h3{
                    font-weight: bolder !important;
                }

                img{
                    width: 40%;
                    margin-top: 1em;
                }

                h4{
                    margin-top: 2em;
                    line-height: 2em;
                }
            }
            

        }
    }

    @media( max-width: 1300px){        
            .stacks{
                .conteudo{
                    width: 50%;
                }
            }        
    }

    @media( max-width: 1050px){ 
        .banner{
            height: 100vh;                   
            img{
                height: 100%;
            }
           .conteudo{                        
                left: 0;
                top: 100px;
                text-align: center;
                line-height: 4em;
                h2{
                    width: 50%;
                    margin: 0 auto;                    
                }
                p:nth-child(2){
                    display: none;
                }
                p{
                    width: 80%;
                    margin: 0 auto;
                    margin-top: 3em;
                    line-height: 3em;
                    font-size: 15px;
                }
           }
        }
        .stacks{            
            .conteudo{                
                width: 100%;
                margin-bottom: 2em;
                img{
                    margin-top: 3em;                    
                }
                p{
                    width: 80%;
                    margin: 0 auto;
                    margin-top: 2em;
                    line-height: 2em;
                }
            }

            .topicos{   
                display: flex;           
                flex-direction: column;   
                width: 100%;                   
                margin: 0 auto;
                
                
                .card{
                    width: 100%;                    
                    height: 50vh !important;
                    background-color: #fffced;
                    margin-top: 0px;

                    h3{
                        margin-top: 2em;
                    }

                    h4{
                        width: 80%;
                        margin: 0 auto;
                    }

                }                
            }
        }
    }
}

