<div class="container" id="services">
    <div class="banner">
        <img src="../../assets/images/top-viewtop-view-manager-employee-doing-teamwork-business-office-looking-charts-laptop-display.jpg" alt="brainstorming">
        <div class="conteudo">
            <h2>SOMOS UM ESTÚDIO CRIATIVO</h2>     
            <p> Focado em desenvolver conteúdo exclusivo e captar as melhores imagens para o seu negócio. 
                Gostamos de colocar a mão na massa em cada imagem, estamos sempre a par dos assuntos do momento e levamos a sua marca ao destaque na internet.
                </p> 
        </div>
    </div>
    <div class="stacks">
        <div class="conteudo">
            <img src="../../assets/images/CRIA.TIVA Logo Transparente.png" alt="logo criativa">
            <p>surgiu da necessidade de criar para as empresas de forma mais personalizada, olhando as necessidades de cada cliente e oferecendo o que eles mais precisam.
            </p>
        </div>

        <div class="topicos">
            <div class="card">
                <h3>Estratégia</h3>
            </div>
            <div class="card">
                <h3>Consultoria</h3>
            </div>
            <div class="card">
                <h3>Fotografia</h3>
            </div>
            <div class="card">
                <h3>Sites</h3>
            </div>
            <div class="card">
                <h3>Ilustrações</h3>
            </div>
        </div>

    </div>
</div>