@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap');

.container{
    height: 100vh;
    width: 100%;
    background-color: #f2eadf;    
    display: flex;        
    align-items: center;

    main{
        height: 70%;
        width: 65%;    
        margin: 0 auto;        
        display: flex;
        align-items: center;        

    .conteudo{
        position: relative;
        .marca{
            display: flex;
            img{
                height: 120px;
                object-fit: cover;
                object-position: center;
                padding: .5em 1em;
            }
        }
    }
        
        h1{
            margin-bottom: 1em;
            font-size: 65px;           
            font-family: 'Roboto', sans-serif;
            font-weight: 100;

            strong{
                font-family: black-gold;
            }
        }

        hr{
            width: 10%;
        }

        h2{
            margin-top: 1em;
            font-size: 32px;
            font-family: 'Roboto', sans-serif;
        }

        button{
            margin-top: 1em;
            font-family: 'Roboto', sans-serif;
            padding: 1em 2em;
            background-color: inherit;
            font-size: 20px;
            border-radius: 50px;
            background-color: #f2eadf;
            border: 0.1px solid black;
            color: #000;
            font-weight: bolder;
            cursor: pointer;
        }
    }
}