@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap');

.container{
    height: 100vh;    
    background-color: #f2eadf;    
    display: flex;        
    align-items: center;

    main{
        height: 70%;
        width: 65%;    
        margin: 0 auto;        
        display: flex;
        align-items: center;        

    .conteudo{
        position: relative;
        .marca{
            display: flex;
            img{
                height: 120px;
             
                padding: .5em 1em;
            }
        }
    }
        
        h1{
            margin-bottom: 1em;
            font-size: 65px;           
            font-family: 'Roboto', sans-serif;
            font-weight: 100;

            strong{
                font-family: black-gold;
            }
        }

        hr{
            width: 10%;
        }

        h2{
            margin-top: 1em;
            font-size: 32px;
            font-family: 'Roboto', sans-serif;
        }

        button{
            margin-top: 1em;
            font-family: 'Roboto', sans-serif;
            padding: 1em 2em;
            background-color: inherit;
            font-size: 20px;
            border-radius: 50px;
            background-color: #f2eadf;
            border: 0.1px solid black;
            color: #000;
            font-weight: bolder;
            cursor: pointer;
        }
    }

    @media (max-width: 1300px){
        .conteudo{                                  
            .marca{                
                display: flex;
                flex-direction: column;
                justify-content: space-between;                                              

                img{
                    height: auto;
                    width: 90%;
                }
            }           
        }
    }
}

@media (max-width: 1000px){
    .container{
        main{
            width: 100%;

            .conteudo{
                width: 90%;
                margin: 0 auto;
                height: 80%;
                
                .botao{
                    width: 100%;                    
                    display: flex;
                    justify-content: center;
                    button{
                        margin-top: 4em;                    
                    }
                }
                                
                .marca{                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    h1{
                        font-size: 40px;
                        margin-bottom: 0px;
                    }
                    
                    img{
                        margin-top: 0;
                    }         
                }

                hr{
                    width: 80%;
                    margin: 0 auto;
                    margin-top: 2em;
                }

                h2{
                    margin-top: 3em;
                    font-size: 20px;
                    text-align: center;
                    line-height: 2em;                
                }

            
            }
        }
        
    }       
}